<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="adminIndex">
		<section id="main" class="column">

			<h4 class="alert_info">Welcome to admin panel.</h4>
			<article class="module width_3_quarter">
				
				
				<div class="tab_container">
					<div id="tab1" class="tab_content">
						<table class="tablesorter" cellspacing="0">
							<thead>
								<tr>
									<th>Line no.</th>
									<th>Start time</th>
									<th>End time</th>
									<th>Start station</th>
									<th>End station</th>
								</tr>
							</thead>
							<tbody>
								<tr id="response">
									<td id="line"></td>
									<td id="startTime"></td>
									<td id="endTime"></td>
									<td id="startStation"></td>
									<td id="endStation"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- end of #tab1 -->


				</div>
				<!-- end of .tab_container -->

			</article>

		</section>
	</div>
</body>
</html>