
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<meta charset="utf-8" />
<title>Insert title here</title>
<!-- BOOTSTRAP STYLE SHEET -->
<link href="/css/bootstrap.css" rel="stylesheet" />
<!-- FONT-AWESOME STYLE SHEET FOR BEAUTIFUL ICONS -->
<link href="/css/font-awesome.css" rel="stylesheet" />

</head>
<body>
	<section >
	<div th:fragment="driverview">

		<div class="container2"  id="ROUTES">
			<table>
				<thead>
					<tr>
						<th>RouteID</th>
						<th>Start</th>
						<th>End</th>
						<th>Duration</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
						
					<tr th:each="r: ${assignements}">
									<td th:text="${r.route.id}"></td>
									<td th:text="${r.route.start.name}"></td>
									<td th:text="${r.route.end.name}"></td>
									<td th:text="${r.route.duration}"></td>
									<td>
										<a  th:href="@{/driver/actions/(id=${r.route.id})}">
										<input id="button1src" type="image" src="/images/start.png"
										title="Start" /></a></td>
								</tr>
				</tbody>
			</table>
		</div>
	</div>
		</section>
</body>
</html>

