
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<meta charset="utf-8" />
<title>Insert title here</title>
<!-- BOOTSTRAP STYLE SHEET -->
<link href="/css/bootstrap.css" rel="stylesheet" />
<!-- FONT-AWESOME STYLE SHEET FOR BEAUTIFUL ICONS -->
<link href="/css/font-awesome.css" rel="stylesheet" />

</head>
<body>
	<section >
	<div th:fragment="driverview">

		<div class="container2"  id="ROUTES">
			<table>
				<thead>
					<tr>
						<th>RouteID</th>
						<th>Start</th>
						<th>End</th>
						<th>Duration</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
						
					<tr th:each="r: ${assignements}">
									<td th:text="${r.route.id}"></td>
									<td th:text="${r.route.start.name}"></td>
									<td th:text="${r.route.end.name}"></td>
									<td th:text="${r.route.duration}"></td>
									<td>
										<a  th:href="@{/driver/actions/(id=${r.route.id})}">
										<input id="button1src" type="image" src="/images/start.png"
										title="Start" /></a></td>
								</tr>
				</tbody>
			</table>

			<div class="row-fluid" id="contact">
				<h1>Contact Me</h1>
				<div class="span12 ">
					<div class="span8 well">
						<div class="feedback-form">



							<form action="" method="post" id="contact-form">
								<fieldset>
									<div class="form-group form-group-fullname">
										<label class="control-label" for="fullname">NAME *</label> <input
											type="text" class="form-control input-lg" name="fullname"
											id="fullname" placeholder="Enter Your Name" />
									</div>
									<div class="form-group form-group-email">
										<label class="control-label" for="email">E-MAIL *</label> <input
											type="text" class="form-control input-lg" name="email"
											id="email" placeholder="Enter Your E-Mail" />
									</div>
									<div class="form-group form-group-message">
										<label class="control-label" for="message">MESSAGE *</label>
										<textarea class="form-control" name="message" id="message"
											rows="3"></textarea>
									</div>
									<button type="submit" class="btn btn-brand">Submit</button>
								</fieldset>
							</form>

						</div>

					</div>
					<div class="span4 well" >
						<div class="address-subsection" id="detail" style="text-align: center">
							<div class="address-icon">
								<i class="icon-map-marker icon-5x"></i>
							</div>
							<h4 class="address-title">LOCATE US</h4>
							<address>
								795 Apartment, Building 600<br></br> New Delhi, India 94107<br></br>
								<abbr title="Phone">P:</abbr> (123) 456-7890
							</address>


							<h4>Contact Details</h4>
							<p>
								<strong>Email:</strong>me@domain.com
							</p>
							<p>
								<strong>Phone:</strong>+1-xxx-xxx-xxxx
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		</section>
</body>
</html>

