<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="header">
	<header id="header">
		<hgroup>
			<h1 class="site_title">
				<b>Website Admin</b>
			</h1>
			<h2 class="section_title">Dashboard</h2>
			<div class="btn_view_site"></div>
		</hgroup>
	</header>
	<!-- end of header bar -->

	<section id="secondary_bar">
		<div class="user">
			<p>
				Admin (<a href="/admin/messages">Messages</a>)
			</p>
			<!-- <a class="logout_user" href="#" title="Logout">Logout</a> -->
		</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs">
				<a href="admin.html">Website Admin</a>
				<div class="breadcrumb_divider"></div>
				<a class="current">Dashboard</a>
			</article>
		</div>
	</section>
	
	</div>
	<!-- end of secondary bar -->
</body>
</html>