<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<title>Insert title here</title>
<link rel="stylesheet" href="/css/layout.css" type="text/css"
	media="screen" />
<link rel="stylesheet" href="/css/map.css" type="text/css"
	media="screen" />

</head>
<body>
	<div th:fragment="newroute">
		<section id="main" class="column">
			<!--start of NewRoute-->
			<article class="module width_3_quarter">
				<div id="biggerpanel2">
					<header>
						<h3 class="tabs_involved">Content Manager</h3>

					</header>
					<h1>Add new route</h1>
					<h1>Insert route number and select Start and End stations</h1>
					<div id="x">
						<form action="#" th:action="@{/admin/newroute}"
							th:object="${route}" method="post">
							<p class="validationError" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>
							<p class="validationError" th:if="${#fields.hasErrors('start.name')}" th:errors="*{start.name}"></p>
							<label>Line no. </label><input type="text" th:field="*{id}" /> <label>Duration
							</label><input type="text" th:field="*{duration}" /> <br></br> 
							<b>Start:
							</b> <select id="start" th:field="*{start.id}"
								onchange="calculateAndDisplayRoute();">
								<option th:each="s: ${stations}" th:value="${s.id}"
									th:text="${s.name}"></option>
							</select> <b>End: </b> <select id="end" th:field="*{end.id}"
								onchange="calculateAndDisplayRoute();">
								<option th:each="x: ${stations}" th:value="${x.id}"
									th:text="${x.name}"></option>

							</select> <input type="submit" value="Add route" />
						</form>
					</div>
				</div>
			</article>

			<div id="map"></div>
		</section>
		<script src="/js/map.js"></script>
		<script async="true"
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1LFnHvlFt1sdmh-bfPg0CDIGk11GieaI&amp;callback=initMap1">
			
		</script>
	</div>

</body>
</html>