<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="publicFragments/head :: head">
<meta charset="utf-8" />
<title>BusControllUnit</title>
</head>


<body>
	<div th:replace="publicFragments/header :: header"></div>
	<div class="main-container">
		<div class="main wrapper clearfix">

			<article>
				
			</article>
			<div th:replace="publicFragments/sidebar :: sidebar"></div>


		</div>
		<!-- #main -->
	</div>
	<!-- #main-container -->

	<div th:replace="publicFragments/footer :: footer"></div>
</body>

</html>
