<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
<title></title>
<meta name="description" content=""></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="apple-touch-icon" href="apple-touch-icon.png"></link>
<link rel="stylesheet" href="css/normalize.min.css"></link>
<link rel="stylesheet" href="css/normalize.css"></link>
<link rel="stylesheet" href="css/main.css"></link>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>


</head>


<body>
	<div class="header-container">
		<header class="wrapper clearfix">
			<h1 class="title">BUSControllerUnit</h1>
			<nav>
				<ul>
					<li><a href="/">HomePage</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="#">ContactUs</a></li>

				</ul>
			</nav>
		</header>
	</div>

	<div class="main-container">
		<div class="main wrapper clearfix">

			<article>
				<header>
					<h1>article header h1</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula
						ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra
						in. In semper consequat est, eu porta velit mollis nec.</p>
				</header>
				<section>
					<h2>article section h2</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula
						ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra
						in. In semper consequat est, eu porta velit mollis nec. Curabitur
						posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem
						dapibus velit suscipit ultrices. Proin in est sed erat facilisis
						pharetra.</p>
				</section>
				<section>
					<h2>article section h2</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula
						ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra
						in. In semper consequat est, eu porta velit mollis nec. Curabitur
						posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem
						dapibus velit suscipit ultrices. Proin in est sed erat facilisis
						pharetra.</p>
				</section>
				<footer>
					<h3>article footer h3</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula
						ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra
						in. In semper consequat est, eu porta velit mollis nec. Curabitur
						posuere enim eget turpis feugiat tempor.</p>
				</footer>
			</article>
			
			
			

			<aside>

				<div id="panel">
					 <input id="address1" type="hidden" value="Sydney, NSW"/>
					<b>Start:</b> <select id="start" 
						onchange="calculateAndDisplayRoute();">
						<option th:each="s: ${stations}" 
							th:text="*{s.name}"></option>
					</select> 
					<b>End: </b> <select id="end" 
						onchange="calculateAndDisplayRoute();">
						<option th:each="x: ${stations}" 
							th:text="*{x.name}"></option>
					</select>
				</div>
				<div id="map"></div>
				
				<div id="lines">
					<ul th:each="line: ${lines}">
						<a th:href="@{/line(id=${line.id})}"><li th:text = "|Line ${line.id}|"></li></a>
					</ul>
				</div>
			</aside>

		</div>
		<!-- #main -->
	</div>
	<!-- #main-container -->

	<div class="footer-container">
		<footer class="wrapper clearfix">
			<div class="footer">
				© Copyright 2015. All Rights Reserved.© Copyright 2015. All Rights
				Reserved.© Copyright 2015. All Rights Reserved.

				<nav>
					<ul>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Suscribe</a></li>
					</ul>
				</nav>

			</div>

		</footer>
	</div>

	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="js/vendor/jquery-1.11.2.min.js"></script>
	<script src="js/map.js"></script>
	<script async="true"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1LFnHvlFt1sdmh-bfPg0CDIGk11GieaI&amp;callback=initMap">
		
	</script>

</body>

</html>
