<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="publicFragments/head :: head">
<meta charset="utf-8" />
<title>BusControllUnit</title>

</head>


<body>
	<div th:replace="publicFragments/header :: header"></div>
	<div class="main-container">
		<div class="main wrapper clearfix">
	<div th:replace="publicFragments/sidebar :: sidebar"></div>
			<article >
				<img id="bus" src="/assets/autobus.jpg" alt="Chania" /> 
			</article>
				<article id="about">
				<p>HELLO THERE! This is
				BusControllerUnit. A small platform which is designed for controlling everyday activities
				.Based in Cluj-Napoca City,
				Cluj our company  prides itself in being useful &#38; providing people-driven
				solutions that will help communicate your message effectively.</p>
				</article>
		
		</div>
		<!-- #main -->
	</div>
	<!-- #main-container -->

	<div th:replace="publicFragments/footer :: footer"></div>
</body>

</html>
