<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="publicFragments/head :: head">
<meta charset="utf-8" />
<title>BusControllUnit</title>
</head>
<body>

	<div th:replace="publicFragments/header :: header"></div>
	<div class="main-container">
		<div class="main wrapper clearfix">

			<article th:fragment="line">
				<div id="wrap">
					<div class="aboutRoute">
						<input type="hidden" id="id" th:value="${route.id}" />
						<h1 th:text="|Line ${route.id}|"></h1>
						<label>Start station</label>
						<p id="startE" th:text="${route.start.name}"></p>

						<label>End station</label>
						<p id="endE" th:text="${route.end.name}"></p>

						<label>Duration(minutes)</label>
						<p th:text="${route.duration}"></p>
					</div>
					
					<button id="button1">Show Tour</button>
					<div id="tour"></div>
					<br/><br/>
					<button  id="button2">Show Retour</button>
					<div id="retour"></div>
				</div>
			</article>
			<div th:replace="publicFragments/sidebar :: sidebar"></div>
		</div>
		<!-- #main -->
	</div>
	<!-- #main-container -->
	<div th:replace="publicFragments/footer :: footer"></div>
	
	<script src="/js/toggle.js"></script>
</body>
</html>