<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	>
<head>
<title>Spring Security Example</title>

<!-- Custom Theme files -->
<link href="css/login.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/map.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

<!--Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>
<!--Google Fonts-->


</head>


<body>
	

	<!--login form start here-->
	<h1>Login</h1>

	<div class="login">
		<div class="rib"></div>
		
		<div class="error" th:if="${param.error}">
			<p>Authentication error</p> 
		</div>
		<form th:action="@{/login}" method="post">
			
			<label> User Name : 
			<input type="text" value="User" name="username" onfocus="this.value = '';"
				onblur="if (this.value == '') {this.value = 'Email Address';}"/>
				
			</label> <label> <br>Password:</br> <input type="password" name="password"
				value="password" onfocus="this.value = '';"
				onblur="if (this.value == '') {this.value = 'password';}" />
				
			</label> <input type="submit" value="SIGN IN"/>
		</form>
	</div>

	<div class="copyright">
		<p>Template by W3layouts</p>
	</div>
	<!--login form end here-->

</body>
</html>