<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<title>Dashboard I Admin Panel</title>

<link rel="stylesheet" href="/css/layout.css" type="text/css"
	media="screen" />
	<link rel="stylesheet" href="/css/map.css" type="text/css"
	media="screen" />
<!--[if lt IE 9]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
<script src="/js/jquery-1.5.2.min.js" type="text/javascript"></script>
<script src="/js/hideshow.js" type="text/javascript"></script>
<script src="/js/jquery.tablesorter.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery.equalHeight.js"></script>
<script type="text/javascript" src="/js/tablesort.js"></script>
<script type="text/javascript"  src="/js/columnarange.js"></script>
<script src="/js/sockjs-0.3.4.js"></script>
<script src="/js/stomp.js"></script>
<script src="/js/websocket.js"></script>

</head>


<body onload="connect();" onunload="disconnect();">
	<div th:include="fragments/header :: header"></div>
	<div th:include="fragments/sidebar :: sidebar"></div>
	
	<section id="main" class="column">

			<h4 class="alert_info">Welcome to admin panel.</h4>
			<article class="module width_3_quarter">
				
				
				<div class="tab_container">
					<div id="tab1" class="tab_content">
						<table class="tablesorter" cellspacing="0">
							<thead>
								<tr>
									<th>Line no.</th>
									<th>Start time</th>
									<th>End time</th>
									<th>Start station</th>
									<th>End station</th>
								</tr>
							</thead>
							<tbody id="tbody">
								<tr id="response">
									<td id="line"></td>
									<td id="startTime"></td>
									<td id="endTime"></td>
									<td id="startStation"></td>
									<td id="endStation"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- end of #tab1 -->


				</div>
				<!-- end of .tab_container -->

			</article>

		</section>
	
	

</body>

</html>
