<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<title>Insert title here</title>
</head>
<body>

<div th:fragment="footer" class="footer-container">
		<footer class="wrapper clearfix">
			<div class="footer">
				© Copyright 2015. All Rights Reserved.© Copyright 2015. All Rights
				Reserved.© Copyright 2015. All Rights Reserved.

				<nav>
					<ul>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Suscribe</a></li>
					</ul>
				</nav>

			</div>

		</footer>
	</div>

</body>
</html>