<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="head">

<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
<title></title>
<meta name="description" content=""></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="apple-touch-icon" href="apple-touch-icon.png"></link>
<link rel="stylesheet" href="css/normalize.min.css"></link>
<link rel="stylesheet" href="css/normalize.css"></link>
<link rel="stylesheet" href="css/main.css"></link>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>


</head>
<body>

<div th:fragment="header" class="header-container">
		<header class="wrapper clearfix">
			<h1 class="title">BUSControllerUnit</h1>
			<nav>
				<ul>
					<li><a href="/">HomePage</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="#">ContactUs</a></li>

				</ul>
			</nav>
		</header>
</div>

</body>
</html>