<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<title>BusControllUnit</title>
</head>
<body>

	<aside th:fragment="sidebar">

		<div id="panel">
			<b>Start:</b> <select id="start"
				onchange="calculateAndDisplayRoute();">
				<option th:each="s: ${stations}" th:text="*{s.name}"></option>
			</select> <b>End: </b> <select id="end" onchange="calculateAndDisplayRoute();">
				<option th:each="x: ${stations}" th:text="*{x.name}"></option>
			</select>
		</div>

		<div id="map"></div>
		<div id="lines">
			<div class="well">
				<ul class="nav nav-stacked" id="sidebar" th:each="line: ${lines}">
					<a id="speciala" th:href="@{/line(id=${line.id})}"><li
						th:text="|Line ${line.id}|"></li></a>
				</ul>
			</div>
		</div>
	</aside>
	
		<script src="js/map.js"></script>
		<script async="true"
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1LFnHvlFt1sdmh-bfPg0CDIGk11GieaI&amp;callback=initMap1">			
		</script>
</body>
</html>