<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<title>Insert title here</title>
</head>
<body>

<aside th:fragment="sidebar">

				<div id="panel">
					<b>Start: </b> <select id="start" onchange="calcRoute();">
						<option
							value="Observatorului I, Strada Observatorului, Cluj-Napoca 400000, Romania">Observatorului
							I</option>
						<option
							value="Regionala CFR Bus Station, Bulevardul 21 Decembrie 1989, Cluj-Napoca, Romania">Regionala
							CFR Bus Station</option>
						<option value="Post Zorilor, Romania">Zorilor</option>
						<option
							value="Gheorghe Dima II, Strada Observatorului, Cluj-Napoca 400000, Romania">Gheorghe
							Dima II</option>
						<option value="Spitalul de Copii, Cluj-Napoca 400000,Romania">Spitalul
							de Copii</option>
						<option
							value="Statia Campului, Calea Mănăștur, Cluj-Napoca 400000, Romania">Statia
							Campului</option>
						<option
							value="Stația Piața 14 Iulie, Piața 14 Iulie, Cluj-Napoca 400000, Romania">Stația
							Piața 14 Iulie</option>
						<option value="Piața Mihai Viteazul, Cluj-Napoca 400000, Romania">Piața
							Mihai Viteazul</option>
						<option value="Sinterom, Romania">Sinterom</option>
						<option value="Arte Plastice,Cluj-Napoca">Arte Plastice</option>

					</select> <b>End: </b> <select id="end" onchange="calcRoute();">
						<option
							value="Observatorului I, Strada Observatorului, Cluj-Napoca 400000, Romania">Observatorului
							I</option>
						<option
							value="Regionala CFR Bus Station, Bulevardul 21 Decembrie 1989, Cluj-Napoca, Romania">Regionala
							CFR Bus Station</option>
						<option value="Post Zorilor, Romania">Zorilor</option>
						<option
							value="Gheorghe Dima II, Strada Observatorului, Cluj-Napoca 400000, Romania">Gheorghe
							Dima II</option>
						<option value="Spitalul de Copii, Cluj-Napoca 400000,Romania">Spitalul
							de Copii</option>
						<option
							value="Statia Campului, Calea Mănăștur, Cluj-Napoca 400000, Romania">Statia
							Campului</option>
						<option
							value="Stația Piața 14 Iulie, Piața 14 Iulie, Cluj-Napoca 400000, Romania">Stația
							Piața 14 Iulie</option>
						<option value="Piața Mihai Viteazul, Cluj-Napoca 400000, Romania">Piața
							Mihai Viteazul</option>
						<option value="Sinterom, Romania">Sinterom</option>
						<option value="Arte Plastice,Cluj-Napoca">Arte Plastice</option>

					</select>
				</div>
				<div id="map"></div>
				
				<div id="lines">
					<ul th:each="line: ${lines}">
						<a th:href="@{/line(id=${line.id})}"><li th:text = "|Line ${line.id}|"></li></a>
					</ul>
				</div>
			</aside>
</body>
</html>